html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: scroll;
}

menu {
  display: block;
  padding: 0;
  margin: 0;
}

gaia-list h3 {
  width: calc(100% - 10px);
}

gaia-list .action {
  text-align: center;
  text-decoration: underline;
  background-color: var(--button-background);
}

gaia-list .action.disabled {
  pointer-events: none;
  color: var(--header-disabled-button-color);
}

gaia-list .destructive {
  color: var(--color-destructive);
}

a.navigation *, a.action *, a.edit * {
  pointer-events: none;
}

gaia-list span.group {
  text-transform: capitalize;
  font-size: 0.8em;
  min-height: auto;

  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
              var(--highlight-color);
  color: var(--text-color);
}

gaia-list span.group::before {
  display: none;
}

gaia-list a.first::before {
  display: none;
}
